.profile-container {
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: left;
}

.profile-container h1, h2 {
    color: #350255;
    text-align: center;
}

.profile-info {
    margin-bottom: 30px;
}

.profile-info p {
    font-size: 18px;
    margin-bottom: 10px;
}

.course-list {
    list-style-type: disc;
    padding-left: 40px;
}

.course-list li {
    font-size: 18px;
    margin-bottom: 10px;
}

.cta-btn {
    display: block;
    background-color: #FFD700;
    color: #350255;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    margin: 20px auto;
    width: fit-content;
    border-radius: 5px;
}

.cta-btn:hover {
    background-color: #FF69B4;
}
